$color-primary-light: #e9e8e8;
$color-primary: #e1d5c8;
$color-primary-dark: #9b795b;
$color-light: #fff;
$color-dark: #59595a;

$standard-padding: calc(2.5vw + 1rem);

// A four column css-grid with 5vw padding on either side

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", "Trebuchet MS", sans-serif;
  max-width: 114rem;
  margin: 0 auto;
  background-color: #252525;
}

////////////////////////////////////
//----------- utilities-----------//
////////////////////////////////////
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

//----- fonts-families
.font-regular {
  font-family: "Barlow", sans-serif;
}

.font-accent {
  font-family: "Tangerine", cursive;
}

//----- font-sizes
.heading-primary {
  font-size: calc(3rem + 1.75vw);
}

.text-regular {
  font-size: 1.4rem;
}

//----- font-weights
.fw-100 {
  font-weight: 100;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

//----- background-colors
.bg-primary-light {
  background-color: $color-primary-light;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-primary-dark {
  background-color: $color-primary-dark;
}

//----- colors
.c-primary-dark {
  color: $color-primary-dark !important;
}

//----- buttons
.btn-group {
  display: flex;
  justify-content: center;
  gap: calc(0.5rem + 0.5vw);
}

.btn,
.btn:visited,
.btn:link {
  padding: calc(0.15rem + 0.5vw) calc(1rem + 0.5vw);
  display: inline-block;
}

.btn-oval {
  border-radius: 5rem;
}

.btn-rounded {
  border-radius: 0.5rem;
}

.btn-shadow {
  box-shadow: 0 0.1rem 0.25rem lighten($color-dark, 0.25);

  &:hover {
    box-shadow: 0 0.25rem 0.25rem lighten($color-dark, 0.25);
  }
}

.btn:active {
  transform: scale(0.95);
}

.btn-light {
  background-color: $color-light;
  color: $color-primary-dark;
}

.btn-primary-dark {
  background-color: $color-primary-dark;
  color: $color-light;

  &:hover {
    background-color: lighten($color-primary-dark, 5%);
  }
}

.btn-dark {
  background-color: $color-dark;
  color: $color-light;

  &:hover {
    background-color: lighten($color-dark, 10%);
  }
}

.btn-dark-outline {
  background-color: transparent !important;
  color: $color-dark;
  border: 1px solid $color-dark;

  &:hover {
    background-color: darken($color-light, 10%) !important;
  }
}

////////////////////////////////////
//------   custom styles   -------//
////////////////////////////////////
.container {
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #eee;
  margin: 2.5vw 0;
}

// header styles
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-primary-light;
  padding: $standard-padding;

  border-radius: 1rem 1rem 0 0;

  &__logo {
    height: calc(1.5rem + 1vw);
  }
}

// hero styles
.hero {
  color: $color-primary-dark;
  width: 40vmin;
  margin: 0 auto;
  text-align: center;
  padding: calc($standard-padding + 5rem + 5vw) 0;

  &__desc {
    font-size: 1.25rem;

    &--title {
      margin-bottom: calc(0.5rem + 0.5vw);
    }
    &--tagline {
      margin-top: calc(-1.25rem);
      margin-bottom: calc(1rem + 0.75vw);
    }
  }
}

// products styles
.products {
  display: flex;
  gap: calc(2.5rem + 1vw);
  justify-content: space-between;

  padding: $standard-padding calc($standard-padding + calc(7.5rem + 1.5vw));

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
      height: calc(7rem + 3.5vw);
      margin-bottom: calc(1rem + 1vw);
    }

    &__link {
      transition: all 0.3s ease-in;

      &:hover {
        transform: translateY(-0.5rem);
      }
    }
  }
}

// collections styles
.collections-container {
  background-color: $color-primary;
  padding: calc(2.5rem + $standard-padding) $standard-padding;

  .collection {
    margin-bottom: calc(2.5rem + 2.5vw);

    h2 {
      font-size: calc(1.5rem + 1.25vw);
      margin-bottom: calc(2.5rem + 0.5vw);
      color: $color-dark;
    }
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2.5rem;

    .collection-card {
      background-color: $color-light;
      color: $color-primary-dark;
      padding: calc(1.5rem + 1vw) calc(0.75rem + 1vw) calc(0.5rem + 1vw);
      border-radius: 1rem;
      box-shadow: 0 0 0.5rem lighten($color-dark, 20%);
      min-width: 22rem;

      transition: all 0.3s ease-in;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &:hover {
        box-shadow: 0 0.25rem 0.75rem lighten($color-dark, 10%);
        transform: scale(1.05);
      }

      & img {
        width: 30%;
        min-width: 12.5rem;
        margin-bottom: 1.5rem;

        align-self: center;
      }

      &__title {
        padding-bottom: 1rem;
        margin-bottom: 2.5rem;
        border-bottom: 1px solid $color-primary-dark;
        line-height: 1.4;
        font-weight: 700;
      }

      &__purchase {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--price {
          font-size: 2.5rem;
        }

        &--rating {
          font-size: 1rem;
        }
      }
    }
  }
}

// footer styles
.footer {
  padding: $standard-padding;
  color: $color-primary-light;

  display: flex;
  justify-content: space-between;

  & p {
    font-size: 1.2rem;
  }

  & .social {
    font-size: 1.5rem;

    display: flex;
    gap: calc(1rem + 1vw);

    & > * {
      cursor: pointer;
    }
  }
}

// media-queries
@media screen and (max-width: 1200px) {
  .container {
    margin: 2.5vw 5vw;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 70vmin;
  }
  .btn-group {
    flex-direction: column;
    width: 15vmin;
    margin: 0 auto;
  }

  .products {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .btn-group {
    display: none;
  }

  .footer {
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
  }
}

// @media screen and (max-width: 1210px) {
//   .collection-card {
//     width: 50%;
//   }
// }
